@model BookStoreWebApplication.Models.Order

@{
    ViewData["Title"] = "Видалити замовлення";
}

<h1>Видалити</h1>

<h3>Ви впевненні, що хочете видалити це замовлення??</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Items)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Items)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до замовлень</a>
    </form>
</div>
