@model BookStoreWebApplication.Models.Book

@{
    ViewData["Title"] = "Видалити книгу";
}

<h1>Видалити</h1>

<h3>Ви впевненні, що хочете видалити працівника @Html.DisplayFor(model => model.Name)?</h3>
<div>
    <h4>Книга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genres)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Повернутись до книг</a>
    </form>
</div>
